<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT0c4i5DYkN_tAx58J3BKyXUjQQgE06Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>167193478591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anuragb.HBA</string>
	<key>PROJECT_ID</key>
	<string>hbaapp-d9779</string>
	<key>STORAGE_BUCKET</key>
	<string>hbaapp-d9779.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167193478591:ios:153e5106ddd972723d8d0a</string>
</dict>
</plist>